<h3>All Users</h3>

<% @users.each do |user| %>
  <p>Name: <%= user.firstname %> <%= user.lastname %></p>
  <h2><%= link_to user.email, admin_user_path(user) %></h2>
  <br>
<% end %>
<%= paginate @users %>
<br>
