<header>

<!-- Main container -->
<nav class="navbar">
  <!-- Left side -->
  <div class="navbar-left is-grouped">
    <div class="navbar-item">
      <p class="control">
        <input class="input" type="text" placeholder="Title">
      </p>
    </div>
    <div class="navbar-item">
      <p class="control">
        <input class="input" type="text" placeholder="Director">
      </p>
    </div>
    <div class="navbar-item">
      <!-- <label class="label">Duration</label> -->
      <p class="control">
        <span class="select">
          <select>
            <option>Duration</option>
            <option>Under 90 minutes</option>
            <option>Between 90 and 120 minutes</option>
            <option>Over 120 minutes</option>
          </select>
        </span>
      </p>
    </div>
    <div class="navbar-item">
      <p class="control">
        <button class="button is-primary">Search</button>
      </p>
    </div>
    <div class="navbar-item">
      <p class="control">
        <button class="button is-primary is-outlined is-small">Clear</button>
      </p>
    </div>
  </div>

  <!-- Right side -->
  <div class="navbar-right">
    <p class="navbar-item is-grouped">
      <a class="button is-primary">Log In</a>
      <a class="button is-primary">Sign Up</a>
    </p>
  </div>
</nav>

<h1 class="title is-1">Rotten Mangoes</h1>

</header>
